# 02 — Feature Engineering
Define feature types and build the preprocessing pipeline.

In [1]:
import sys
sys.path.insert(0, '..')

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from src.preprocessing import load_and_clean, build_preprocessor, num_cols, nominal_cols, ordinal_cols

## 1. Load & Clean Data

In [2]:
df = load_and_clean()
print(df.shape)
df.head()

(522, 10)

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad
7,35,male,3,rent,little,moderate,6948,36,car,good
9,28,male,3,own,little,moderate,5234,30,car,bad

## 2. Feature Definitions

In [3]:
print('Numerical features :', num_cols)
print('Nominal features   :', nominal_cols)
print('Ordinal features   :', ordinal_cols)

Numerical features : ['Age', 'Credit amount', 'Duration']
Nominal features   : ['Sex', 'Housing', 'Saving accounts', 'Checking account', 'Purpose']
Ordinal features   : ['Job']

## 3. Target Encoding
`good` → 1, `bad` → 0 (binary classification)

In [ ]:
X = df.drop('Risk', axis=1)
y = df['Risk'].map({'good': 1, 'bad': 0})
print('Class distribution:')
print(y.value_counts())

## 4. Train / Test Split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)
print(f'Train: {X_train.shape}  |  Test: {X_test.shape}')

## 5. Preprocessing Pipeline
- **StandardScaler** on numerical columns
- **OneHotEncoder** (drop first) on nominal columns
- **OrdinalEncoder** on Job (skill level 0–3)

In [ ]:
preprocessor = build_preprocessor()
preprocessor

In [ ]:
import numpy as np
X_train_transformed = preprocessor.fit_transform(X_train)
print('Transformed train shape:', X_train_transformed.shape)